/*
* Edita o body
*/
html{
    position:relative;
    min-height:100%;
}

body{
    /* font-family: tahoma, arial, helvetica, sans-serif; */
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;
    margin-bottom:60px;
    background-color: #F0F0E1;
}

/*Auteração do tamanho dos icones*/
/*Menu do Usuário*/
ul a span.glyphicon{
    font-size: 16px;
}

/*Usado nas tabelas*/
a span.glyphicon{
    font-size: 18px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Campo que mostra o erro */
.help-block {
    position: absolute;
}
/*
* Por conta dessa alteração perdi alguns atributos do Bootstrap, mas em compensação a barra de navegação
* superior preencherá todos os 
*
* Edita a barra de Navegação fixa do sistema
*
*/

.navbar{
    border-radius: 0px;
}

.navbar-default {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 35px;
    background-color: #fff;
    border-color: #e7e7e7;
    max-height: 75px;
    position: relative;
}

/*
* Editar a Logo principal do sistema
*/
.logo-principal{
    float: left;
    max-height: 60px;
}


/*
* Edita o texto centralizado na barra de navegação
*/
.navbar-nome-projeto{
    text-align: center;
    max-height: 60px;
}

.navbar-nome-projeto h5, .navbar-nome-projeto h6{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Edita o botão do usuário */

.dropdown-usuario{
    background-color: #ff0;
    min-height: 60px;
}

.foto-usuario{
    max-width: 44px;
}

/* Edita a Primeira div do centro */
.area-central{
    margin-top: 10px;
    margin-bottom: 30px;
}

.principal-cinza-top{
    height: 35px;
    background-color: #D6D6D6;
    padding: 0px;
    box-shadow:1px 1px 1px #D6D6D6;

    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 10px 10px 0px 0px;

    /* Declaração para aparecer no Firefox */
    -moz-border-radius: 10px 10px 0px 0px;

    /* Para exibir nos outros navegadores como Chrome, safari, opera*/
    -webkit-border-radius: 10px 10px 0px 0px;
}

/*Zerando as propriedades do painel*/
.panel{
    background-color: transparent;
    border-radius: 0px!important;
    width: auto;
    height: auto;
    margin: 0px;
    border: 0px; 
    -webkit-box-shadow: 0 0px 0px transparent!important; 
    box-shadow: 0 0px 0px transparent!important;
}

/* Overrider da classe de migalhas */
.breadcrumb {
    margin-bottom: 10px;
    list-style: none;
    background-color: transparent;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\203A";
}

.breadcrumb > .active {
    color: #777;
}

/* FIM */
.principal-branco{
    text-transform: uppercase;
    font-size: 12px;
    min-height: 300px;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    box-shadow: 1px 1px 1px #fff;
}

/**
* Edição dos botões
*/
.centralizar-btn{
    min-height: 200px;
    max-height: 300px;
    padding: 20px;
}

/* Botões da Tela Inicial do Professor*/
.btn-1-professor{
    min-height: 80px;
    max-height: 80px;

    min-width: 200px;
    max-width: 200px;

    margin: 20px 20px 30px 0px;
    background-image: url("../img/prof.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: content-box;
    background-size: 40% 100%;
    -webkit-background-size: 40% 100%;
    -o-background-size: 40% 100%;
    -khtml-background-size: 40% 100%;
    -moz-background-size: 40% 100%;

}

.btn-2-professor{
    min-height: 80px;
    max-height: 80px;

    min-width: 200px;
    max-width: 200px;

    margin: 20px 20px 30px 0px;
    background-image: url("../img/relatorio.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: content-box;
    background-size: 40% 100%;
    -webkit-background-size: 40% 100%;
    -o-background-size: 40% 100%;
    -khtml-background-size: 40% 100%;
    -moz-background-size: 40% 100%;
}

/* Botões da Tela Inicial do Coordenador*/
.btn-1-cord{
    min-height: 80px;
    max-height: 80px;

    min-width: 200px;
    max-width: 200px;

    margin: 20px 20px 20px 10px;
    background-image: url("../img/prof.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: content-box;
    background-size: 40% 100%;
    -webkit-background-size: 40% 100%;
    -o-background-size: 40% 100%;
    -khtml-background-size: 40% 100%;
    -moz-background-size: 40% 100%;

}

.btn-2-cord{
    min-height: 80px;
    max-height: 80px;

    min-width: 200px;
    max-width: 200px;

    margin: 20px 20px 20px 10px;
    background-image: url("../img/relatorio.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: content-box;
    background-size: 40% 100%;
    -webkit-background-size: 40% 100%;
    -o-background-size: 40% 100%;
    -khtml-background-size: 40% 100%;
    -moz-background-size: 40% 100%;
}

.btn-3-cord{
    min-height: 80px;
    max-height: 80px;

    min-width: 200px;
    max-width: 200px;

    margin: 20px 20px 20px 10px;
    background-image: url("../img/prof.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: content-box;
    background-size: 40% 100%;
    -webkit-background-size: 40% 100%;
    -o-background-size: 40% 100%;
    -khtml-background-size: 40% 100%;
    -moz-background-size: 40% 100%;

}

.btn-4-cord{
    min-height: 80px;
    max-height: 80px;

    min-width: 200px;
    max-width: 200px;

    margin: 20px 20px 20px 10px;
    background-image: url("../img/relatorio.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: content-box;
    background-size: 40% 100%;
    -webkit-background-size: 40% 100%;
    -o-background-size: 40% 100%;
    -khtml-background-size: 40% 100%;
    -moz-background-size: 40% 100%;
}

.btn-5-cord{
    min-height: 80px;
    max-height: 80px;

    min-width: 200px;
    max-width: 200px;

    margin: 20px 20px 20px 10px;
    background-image: url("../img/prof.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: content-box;
    background-size: 40% 100%;
    -webkit-background-size: 40% 100%;
    -o-background-size: 40% 100%;
    -khtml-background-size: 40% 100%;
    -moz-background-size: 40% 100%;

}

.btn-6-cord{
    min-height: 80px;
    max-height: 80px;

    min-width: 200px;
    max-width: 200px;

    margin: 20px 20px 20px 10px;
    background-image: url("../img/relatorio.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: content-box;
    background-size: 40% 100%;
    -webkit-background-size: 40% 100%;
    -o-background-size: 40% 100%;
    -khtml-background-size: 40% 100%;
    -moz-background-size: 40% 100%;
}

.btn-novo{
    padding-top: 25px;
    padding-left: 5px;
}

.btn-incluir{
    padding-top: 12px;
}

.btn-adicionar{
    padding-top: 25px;
    padding-left: 5px;    
}

.principal-cinza-bottom{
    height: 35px;
    background-color: #D6D6D6;
    padding: 0px;
    box-shadow:1px 1px 1px #D6D6D6;

    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 0px 0px 10px 10px;

    /* Declaração para aparecer no Firefox */
    -moz-border-radius: 0px 0px 10px 10px;

    /* Para exibir nos outros navegadores como Chrome, safari, opera*/
    -webkit-border-radius: 0px 0px 10px 10px;
}

.campo-busca{
    margin: 10px 5px 0px 10px;   
}

.bordas{
    border: 1px solid #D6D6D6;
    border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bordas-tabelas{
    border: 1px solid #D6D6D6;
    border-radius: 10px 10px 10px 10px;
    margin: 10px 5px 10px 5px;
}

.bordas-tiny{
    border: 1px solid #D6D6D6;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 5px 5px 5px;
    margin: 10px 5px 10px 5px;
}

.bordas-periodo{
    border: 1px solid #D6D6D6;
    border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    margin-top: 5px;
}

/*Coloca os nomes nas bordas*/
fieldset{
    padding-bottom: 20px!important;
    padding-top: 5px;
}

fieldset legend{
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    display: block;
    width: auto;
    padding: 0px 10px 0px 10px;
    line-height: inherit;
    color: #333;
    border: 0px;
    text-align:left;
}

/*Auterando as label*/
label{
    padding-top: 20px;
    padding-bottom: 0px;
    width: auto;
}

/* Edição de tabelas */
.tabelas{
    padding-top: 10px;
    padding-bottom: 0px;
}

.table{
    margin-bottom: 0px;
}

.pagination{
    margin: 0px;
    padding: 0px;
}

/*Edição das tabelas*/
thead{
    font-size: 14px;
}

/**
* Edita o Rodapé
*/
.rodape{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0px;
    height: 50px;
    background-color: #4E7BA2;
}

.rodape p, .rodape a{
    margin-bottom: 9px;
    margin-top: 0px;
    color: #fff;
}

.rodape a{
    margin-bottom: 9px;
    margin-top: 0px;
    color: #fff;
    text-height: inherit;
}

/*
Página Inicial
*/

.logo-inicio{
    float: top;
    max-height: 100px;
    margin-bottom: 20px;
}

.contcustom {
    text-align: center;
    width: 300px;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    background-color: white;
    padding: 20px;
}

.input-inicio {
    width: 100%;
    margin-bottom: 17px;
    padding: 15px;
    background-color: #ECF4F4;
    border-radius: 2px;
    border: none;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #ABABAB;
}

.btn {
    border-radius: 2px;
    padding: 10px;
}

.med {
    font-size: 27px;
    color: white;
}

.wide {
    background-color: #8EB7E4;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}